{% if articles %}
	<div class="featured-articles" style="margin: 3rem 0;">
  	<h3>{{ heading_title }}</h3>
  	<div class="row article-grid">
    	{% for article in articles %}
    		<div class="article-cart">
    			<a href="{{ article.href }}">
    				<div class="article-cart-top">
    					<div class="article-cart-image">
    						<img src="{{ article.thumb }}" alt="story-image">
    					</div>
    				</div>
    				<div class="article-cart-text">
    					{{ article.name }}
    				</div>
    			</a>
    		</div>
    	{% endfor %}
  	</div>
  </div>
{% endif %}
