{% if articles %}
	<div class="featured-articles" style="margin: 3rem 0;">
  	<h3>{{ title }}</h3>
  	<div class="row">
    	<div class="swiper swiper-carousel">
      	<div class="swiper-wrapper" style="height: 100%;">
    			{% for article in articles %}
        		<div class="swiper-slide article-cart">
    					<a href="{{ article.href }}">
    						<div class="article-cart-top">
    							<div class="article-cart-image">
    								<img src="{{ article.thumb }}" alt="story-image">
    							</div>
    						</div>
    						<div class="article-cart-text">
    							{{ article.name }}
    						</div>
    					</a>
    				</div>
    			{% endfor %}
    		</div>
    	</div>
  	</div>
  </div>
{% endif %}

