storage/
db/
html/image/
vendor/
node_modules/
to_ignore/

html/catalog/language/*/
!html/catalog/language/ru/
!html/catalog/language/ru-ru/
!html/catalog/language/russian/

html/catalog/test/
ahtml/dmin/test/

*.env

*.log
*.tmp

*.sql
*.dump
*.zip
*.tar.gz
*.bak
*.tmp

*sitemap
*.DS_Store


# Копии оригинальных файлов
*.ORIG
