storage/
db/
image/
vendor/
node_modules/
to_ignore/

/catalog/language/*/
!/catalog/language/ru/
!/catalog/language/ru-ru/
!/catalog/language/russian/

catalog/test/
admin/test/

config.php
admin/config.php

/catalog/view/js/main.js/
/catalog/view/css/styles.css/
/catalog/view/theme/revolution/js/*
/catalog/view/theme/revolution/css/*
/catalog/view/theme/revolution/stylesheet/*
/catalog/view/theme/default/stylesheet/*

*.env

*.log
*.tmp

*.sql
*.dump
*.zip
*.tar.gz
*.bak
*.tmp

*sitemap
*.DS_Store


# Копии оригинальных файлов
*.ORIG
