<div class="popup-heading">
  {{ heading }}
</div>

<div class="popup-center">
  {% block content %}{% endblock %}
</div>

<div class="popup-footer">
  {% block footer %}{% endblock %}
</div>

<button class="dialog-close" data-action="close" aria-label="Закрыть">×</button>
