{% extends 'modals/base.twig' %}

{% block content %}
	<form method="post" enctype="multipart/form-data" id="purchase-form">
	  {% include 'partials/form.twig' %}
		<input type="hidden" value="" name="site_url" />
	</form>
{% endblock %}

{% block footer %}
  <button class="continue-shopping" data-action="close">{{ button_shopping }}</button>
	<a class="checkout-btn" data-action="submit">{{ button_checkout }}</a>
{% endblock %}
