{% extends 'modals/base.twig' %}

{% block content %}
  {% if (products) %} 
    {% include 'modals/cart_products_list.twig' %}

	  <form method="post" enctype="multipart/form-data" id="purchase-form">
	    {% include 'partials/form.twig' %}
	  </form>
  {% endif %} 
{% endblock %}

{% block footer %}
  {% if (not error) %} 
		<a class="checkout-btn" data-action="submit">{{ button_checkout }}</a>
  {% endif %} 
{% endblock %}
