{% extends 'modals/base.twig' %}

{% block content %}
  {% if (products) %} 
    <div class="switchable-content-box">
      {% include 'modals/cart_products_list.twig' %}
    </div>

    <div class="hidden-content-box">
	    <form method="post" enctype="multipart/form-data" id="purchase-form">
	      {% include 'partials/form.twig' %}
	    </form>
			<div class="d-flex justify-content-end mt-5">
				<button class="btn btn-default close-box" href="#">Отмена</button>
				<button type="submit" data-action="submit" class="btn btn-primary">Отправить</button>
			</div>					
    </div>
  {% endif %}
{% endblock %}

{% block footer %}
	<button class="quickorder_b btn checkout-btn open-box">Оформить заказ</button>
{% endblock %}
