<div class="home__section">
	<h3>Специальные предложения</h3>
	<ul class="nav nav-tabs">
  	{% for i in 1..8 %}
    	{% if attribute(_context, 'slider_' ~ i ~ '_status') and attribute(_context, 'products_slider_' ~ i) %} 
      	<li><a href="#tab_slider_{{ i }}" data-toggle="tab">{{ attribute(_context, 'heading_title_slider_' ~ i) }}</a></li>
    	{% endif %} 
  	{% endfor %}
	</ul>

	<div class="tab-content">
  	{% for i in 1..8 %}
    	{% if attribute(_context, 'slider_' ~ i ~ '_status') and attribute(_context, 'products_slider_' ~ i) %} 
      	<div class="hometab_sliders_tab tab-pane" id="tab_slider_{{ i }}">
          {% include 'revolution/template/product/partials/carousel_product.twig' with {
            'products': attribute(_context, 'products_slider_' ~ i),
            'id': 'tab_slider_' ~ i
          } %}
      	</div>
    	{% endif %} 
  	{% endfor %}
	</div>
</div>
