<div class="form-group">
	<label class="col-sm-2 control-label" for="input-width">Заголовок H1 на главной:</label>
	<div class="col-sm-3">
		<input type="text" name="main[h1]" value="{{ main['h1'] is defined ? main['h1'] : '' }}" id="input-width" class="form-control" />
	</div>
</div>
