<div class="wishlist">
  <a class="{{ product['wishlist_class'] }}" data-action="wishlist-toggle" data-toggle="tooltip" data-product-id="{{ product['product_id'] }}" title="{{ product['button_wishlist'] }}">
    <i class="fa fa-border fa-heart"></i>
  </a>
</div>
