{% extends 'revolution/template/product/partials/base.twig' %}

{% set not_sort_line = true %}
{% block content %}
  {% if (products) %}
    {% include 'revolution/template/product/partials/products.twig' %}
  {% else %} 
    <p>{{ text_empty }}</p>
  {% endif %} 
{% endblock %}
