<div id="product_products" class="rev_slider">
  <div class="heading_h">
    <h3>{{ heading_title }}</h3>
  </div>
  <div class="row">
    <div class="product_related">
      {% include 'revolution/template/product/partials/carousel_product.twig' with {'products_slider': featured_products} %}
    </div>
  </div>
  <script>
    <!--
    {% include 'revolution/template/product/partials/carousel_settings.twig' with {'block': '.product_related', 'slider': 'true',
        'products_slider': featured_products } %}

    {% include 'revolution/template/product/partials/carousel_scripts.twig' %}

  var product_grid_width = $('.product-layout .product-thumb').outerWidth();
  if (product_grid_width < 240) {
    $('.product-layout').addClass('new_line');
  } else {
    $('.product-layout').removeClass('new_line');
  }
  //--></script>
</div>


