<div class="search input-group">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
	<input class="selected_category" type="hidden" name="category_id" value="0" />
	<span class="input-group-btn">
		<button type="button" class="search-button btn btn-default btn-lg search_button" aria-label="Найти">
			<svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><circle cx="6.5" cy="6.5" r="4.5" stroke="currentColor" stroke-width="2"/><path d="M10.5 10.5L14 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/></svg>
		</button>
	</span>
</div>
