
.btn-secondary {
  display: block;
  padding: 0.75rem;
  text-align: center;
  background: #f8f9fa;
  border-radius: 0.5rem;
  color: #6c757d;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 1.2rem;
}
.btn-secondary:hover {
  background: #e9ecef;
  color: #495057;
}
.btn-phone {
  color: #f80;
  font-weight: bold;
  font-size: 21px;
  padding-top: 2px;
  text-align: right;
  line-height: 26px;
}
