@use 'variables' as *;

.swiper .product-thumb {
  width: 25rem;
}

.product-thumb {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 12px;
  // width: 25rem;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;

  & .cart a {
    border: 1px solid #eee;
    color: #555;
    background: none;
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    // font-size: 17px;
  }

  & .description_options {
    flex-grow: 1; /* Растягивает блок описания */
    // margin-bottom: 10px;
  }

  & .product_buttons {
    margin-top: auto; /* Прижимает кнопки к низу */
    padding: 10px 0;
  }

  &:hover .cart a {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  & a {
    border-radius: 0.5rem;
  }

  & .product_buttons {

    & a * {
      font-size: 1.4rem;
      padding-inline: 1rem;
    }

    & a:hover {
      border-color: $primary-color;
      color: #FFF !important;
      background: $primary-color;
      border-radius: 0.5rem;
    }
  }

}


.categories {

  &__item {
    display: flex;
    flex-direction: column;
    background: #fff;
    min-height: 100%;
    padding: 2rem;
    transition: box-shadow 0.25s;
    text-align: center;
    // width: 25rem;
    margin: auto;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 1rem;
    }
    &-title {
      display: block;
      margin: auto 0 0 0;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 400;
    }
  }
}

.btns-actions {
  display: flex;
  margin-left: auto;
}
.products {
  &__list {
    margin: 2rem 0 2rem 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  }

  &__topline {
    background: #f7f7f7;
    padding: 1rem;
    font-size: 1.4rem;

    &-group {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: auto;
      gap: 0.4rem;
      &-text {
        @media (max-width: $desktop - 1) {
          display: none;
        }
      }

      & select {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
}
.product-layout {
  padding: 10px;
  & .stock_status {
    font-size: 1.2rem;
  }

}

.breadcrumb * {
    color: #999;
    font-size: 1.4rem;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 3rem;
    list-style: none;
    border-bottom: 1px solid #ededed;
    border-radius: 0;
    overflow: hidden;
}

.pagination > li > a, .pagination > li > span {padding: 5px 15px;border-radius: 5px;}
.pagpages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 5rem;
}
.results-pages {
    margin-left: auto;
    font-size: 1.3rem;
}
.pagination-links {
    width: 100%;
}

.refine_categories {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & * {
      flex: 1;
  }

  & a {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    font-weight: 700;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px; color: #666;
  }


}


.products__list {
  container-type: inline-size;
  container-name: products-list;
}

@container products-list (min-width: 1250px) {
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20% !important;
  }
}

@container products-list (min-width: 1000px) and (max-width: 1249px) {
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25% !important;
  }
}

@container products-list (min-width: 768px) and (max-width: 999px) {
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.333% !important;
  }
}

@container products-list (min-width: 460px) and (max-width: 767px) {
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50% !important;
  }
}

@container products-list (max-width: 459px) {
  .row-cols-1 > * {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

.in_wishlist {
    color: $primary-color;
}
