@use 'swiper/scss' as swiper;
@use 'swiper/scss/navigation';

:root {
  // --swiper-navigation-size: 44px;
  --swiper-navigation-color: var(--text-base);
}

// Дополнительные кастомные стили
.swiper {
  &-container {
    overflow-x: clip;
  }
  &-slide {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: auto;
    &-thumb-active {
      padding-bottom: 10px;
      border-bottom: 3px solid var(--color-primary);
    }
  }
}



@media (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
