<div class="number">
  <div class="frame-change-count">
    <div class="btn-plus change-quantity">
      <button type="button" data-action="quantity+{{ product.min_quantity }}">+</button>
    </div>
    <div class="btn-minus change-quantity">
      <button type="button" data-action="quantity-{{ product.min_quantity }}">-</button>
    </div>
  </div>
  <input type="text" name="quantity" value="{{ product.quantity }}" class="plus-minus" />
</div>
