{#}
  <a data-action="wishlist-toggle" data-toggle="tooltip" data-product-id="{{ product['product_id'] }}" title="">
    <i class="fa fa-border fa-heart"></i>
  </a>
{#}

<a class="wishlist" data-action="wishlist-toggle" data-product-id="{{ product_id }}">
  <i class="fa fa-border fa-heart"></i>
</a>
