<div class="payment-info">
	{% if ('name' in fields) %} 
	<div>
		<label {% if ('name' in required_fields) %} class="required"{% endif %}>Имя:</label>
		<input name="name" value="" {% if ('name' in required_fields) %}required{% endif %}/>
	</div>
	{% endif %} 

	{% if ('phone' in fields) %} 
	<div>
		<label {% if ('phone' in required_fields) %} class="required"{% endif %}>Телефон:</label>
		<input name="phone" value="" {% if ('phone' in required_fields) %}required{% endif %}/>
	</div>
	{% endif %} 

	{% if ('email' in fields) %} 
	<div>
		<label {% if ('email' in required_fields) %} class="required"{% endif %}>E-mail:</label>
		<input name="email" value="" {% if ('email' in required_fields) %}required{% endif %}/>
	</div>
	{% endif %} 

	{% if ('address' in fields) %} 
	<div>
		<label {% if ('address' in required_fields) %} class="required"{% endif %}>Адрес:</label>
		<input name="address" value="" {% if ('address' in required_fields) %}required{% endif %}/>
	</div>
	{% endif %} 

	{% if ('comment' in fields) %} 
	<div>
		<label {% if ('comment' in required_fields) %} class="required"{% endif %}>Комментарий:</label>
		<textarea name="text" {% if ('comment' in required_fields) %}required{% endif %}></textarea>
	</div>
	{% endif %} 
</div>

{% if ('privacy_policy_confirmation' in fields and privacy_policy_confirmation) %} 
	<div class="form-group privacy-policy-confirmation">
		<label class="col-sm-2 required" for="policy-answer">{{ privacy_policy_confirmation }}</label>
		<input id="policy-answer" type="checkbox" name="agree_privacy_policy" checked required />
	</div>
{% endif %} 
