{% extends 'partials/base.twig' %}

{% block content %}

{% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
  </div>

  <div class="panel-body">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-homepage" class="form-horizontal">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-similar" data-toggle="tab">Похожие товары</a></li>
        <li><a href="#tab-featured-article" data-toggle="tab">Рекомендуемые статьи</a></li>
      </ul>

      <div class="tab-content">

				{# Похожие товары #}
        <div class="tab-pane active" id="tab-similar">
          {% include 'catalog/settings/similar_products.twig' %}
        </div>

				{# Рекомендуемые статьи #}
        <div class="tab-pane" id="tab-featured-article">
          {% include 'catalog/settings/featured_article.twig' %}
        </div>

      </div>
    </form>
  </div>
</div>
{% endblock %}
