<div class="attributes">
  {% for attribute_group in attribute_groups %}
    {% if (attribute_group['attribute_group_id'] in revtheme_product_all_attribute_group) %}
      {% for attribute in attribute_group['attribute'] %}
        {% if (attribute['text'] != '') %}
          <div class="attribute-item">
            {{ attribute.name }}:
            <span class="attribute-text">{{ attribute.text }}</span>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% if (attribute_groups) %}
    <li class="adotted_block">
      <a class="adotted" onclick="$('a[href=\'#tab-specification\']').trigger('click'); $('html, body').animate({ scrollTop: $('a[href=\'#tab-specification\']').offset().top - 2}, 250); return false;">Все характеристики</a>
    </li>
  {% endif %}

</div>
