<div class="well well-sm product-info product_informationss" data-product-price="{{ price }}" data-product-id="{{ product_id }}">
  {% include 'product/options.twig' %}
  {% include 'revolution/template/product/partials/product_price.twig' %}
  {% include 'revolution/template/product/partials/product_text_blocks.twig' %}
	{% include 'revolution/template/product/partials/stock_status.twig' with {'main_product': 'true'} %}
</div>
