<div class="well well-sm product-info product_informationss">
  {% include 'product/options.twig' %}
  {% include 'revolution/template/product/partials/product_price.twig' %}
  {% include 'revolution/template/product/partials/product_text_blocks.twig' %}
  {% include 'product/stock_status.twig' %}
</div>
