<div class="prod_list-unstyled">
  <ul class="list-unstyled">
    <li class="hidden pr_quantity">{{ quantity }}</li>

      {% for attribute_group in attribute_groups %}
        {% if (attribute_group['attribute_group_id'] in revtheme_product_all_attribute_group) %}
        {#
          {{ attribute_group['attribute']|slice(0, 8) }}
        {#}
          {% for attribute in attribute_group['attribute'] %}
            {% if (attribute['text'] != '') %}
              <li class="dotted-line">{{ attribute['name'] }}:<span>{{ attribute['text'] }}</span></li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      {% if (attribute_groups) %}
        <li class="adotted_block">
          <a class="adotted" onclick="$('a[href=\'#tab-specification\']').trigger('click'); $('html, body').animate({ scrollTop: $('a[href=\'#tab-specification\']').offset().top - 2}, 250); return false;">Все характеристики</a>
        </li>
      {% endif %}

  </ul>
</div>
