// Цвета
$primary-color: #0063D1;
$primary-light-color: #1f74d2;
$secondary-color: #2ecc71;
$text-dark: #333;
$text-light: #6c757d;

// Размеры
$container-width: 1200px;
$header-height: 80px;

// Брейкпоинты (для медиазапросов)
$mobile: 480px;
$tablet: 1023px;
$desktop: 1200px;

// Шрифты
$main-font: 'Roboto', sans-serif;
$title-font: 'Montserrat', sans-serif;
