@use 'variables' as *;

.btn {

  &-primary {
    display: block;
    text-align: center;
    background: $primary-color;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
    font-size: 1.2rem;
    border: none;
    padding-inline: 2rem;
    height: 100%;
    &:hover {
      background: #3684dc;
    }
  }
  &-secondary {
    display: block;
    padding: 0.75rem;
    text-align: center;
    background: #f8f9fa;
    border-radius: 8px;
    color: #6c757d;
    text-decoration: none;
    transition: all 0.2s;
    font-size: 1.2rem;
  }

  &-secondary:hover {
    background: #e9ecef;
    color: #495057;
  }



  // .scroll-top-wrapper.show:hover {
}

.btn-cart, .btn-ask {
  padding: 6px 25px;
  border-radius: 5px;
  height: initial;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
  &:hover {
    color: #fff;
    background: #0054b2;
    border: 1px solid $primary-color;
  }
}

.btn-cart {
  background: $primary-color;
  color: #fff;
  border: none;
  border: 1px solid $primary-color;
}

.btn-ask {
  background: none;
  color: #555;
  border: 1px solid #eee;
}

.in-cart {
  background: #fff;
  color: $primary-color;
  border: 1px solid $primary-color;
  &:hover {
    color: #fff;
    background: $primary-light-color;
  }
}

.btn-cart:active, .btn-danger:active, .btn-danger:active:hover {color: #ff6700;box-shadow: none;background: transparent;}
.btn-cart .fa {display:none;}

.product-info .pop_ico {
  color: #555;
  border-radius: 5px;
  padding: 6px 25px;
  background-color: #eeeeee;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
  // font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}
.product-info .pop_ico .fa {
padding: 0;
}
.product-info .pop_ico span {
padding: 0 0 0 5px;
}


.checkout-btn {
  border-radius: 8px;
  background: $primary-color !important;
  color: #fff !important;
}

.checkout-btn:hover {
  background: $primary-light-color !important;
  color: #fff;
}
