@use 'variables' as *;

.btn {

  &-primary {
    display: block;
    text-align: center;
    background: $primary-color;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
    font-size: 1.2rem;
    border: none;
    padding-inline: 2rem;
    height: 100%;
    &:hover {
      background: #3684dc;
    }
  }
  &-secondary {
    display: block;
    padding: 0.75rem;
    text-align: center;
    background: #f8f9fa;
    border-radius: 8px;
    color: #6c757d;
    text-decoration: none;
    transition: all 0.2s;
    font-size: 1.2rem;
  }

  &-secondary:hover {
    background: #e9ecef;
    color: #495057;
  }

  &-phone {
    color: $text-dark;
    font-weight: bold;
    font-size: 21px;
    padding-top: 2px;
    text-align: right;
    line-height: 26px;
  }

  &-catalog {
    background-color: #0063D1;
    box-shadow: 0 9px 13px rgb(0 85 255 / 43%);
    border-radius: 10px;
    color: #FFF;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    padding: 0 10px;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    & .fa-chevron-down {
      font-size: 1rem;
      margin-left: auto;
    }
  }

  &-scroll-top {
    position: fixed;
    opacity: 0;
    text-align: center;
    z-index: 9998;
    background-color: #777;
    color: #fefefe;
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: 30px;
    bottom: 30px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &.show {
      cursor: pointer;
      opacity: 0.6;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  // .scroll-top-wrapper.show:hover {
}

.btn-cart {
  background: $primary-color;
  color: #fff;
  border: none;
  // font-size: 16px;
  padding: 6px 25px;
  // box-shadow: 0 9px 13px rgb(255 136 0 / 43%);
  border-radius: 5px;
  height: initial;
  // line-height: initial;
  margin: 0 10px;
  // padding: 0 25px;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
  border: 1px solid $primary-color;

  &:hover {
    color: #fff;
    background: #0054b2;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
  }

}

.in-cart {
  background: #fff;
  color: $primary-color;
  border: 1px solid $primary-color;
  &:hover {
    color: #fff;
    background: $primary-light-color;
  }
}

.btn-cart:active, .btn-danger:active, .btn-danger:active:hover {color: #ff6700;box-shadow: none;background: transparent;}
.btn-cart .fa {display:none;}

.product-info .pop_ico {
  color: #555;
  border-radius: 5px;
  padding: 6px 25px;
  background-color: #eeeeee;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
  // font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}
.product-info .pop_ico .fa {
padding: 0;
}
.product-info .pop_ico span {
padding: 0 0 0 5px;
}


.checkout-btn {
  border-radius: 8px;
  background: $primary-color;
  color: #fff;
}

.checkout-btn:hover {
  background: $primary-light-color;
  color: #fff;
}
