@use 'variables' as *;

#recommended-categories {
    margin: 3rem 0;
    clear: both;
}

.category-tile {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    box-shadow: 0 5px 9px hsla(0, 0%, 80%, .21);
    display: flex;
    // flex-direction: column;
    min-height: 100%;
    transition: box-shadow .25s;
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.category-tile:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.category-content {
    display: flex;
    height: 100%;
    padding: 1rem;
}

.category-info {
    padding: 15px;
    flex: 1;
}

.category-info h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.category-info h4 a {
    color: #333;
    text-decoration: none;
}

.category-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
    align-self: center;
    margin-right: 15px;
}

.category-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.category-tile:hover .category-image img {
    transform: scale(1.05);
}

.category-filters {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-row {
    display: flex;
}

.filter-link {
    display: inline-block;
    padding: 3px 8px;
    // background: #f5f5f5;
    color: #555;
    font-size: 12px;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.2s;
    // width: 100%;
}

.filter-link:hover {
    // background: #337ab7;
    color: black;
}

.category-service-tile {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    box-shadow: 0 5px 9px hsla(0, 0%, 80%, .21);
    display: flex;
    // flex-direction: column;
    min-height: 100%;
    transition: box-shadow .25s;
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.category-service-content {
    display: flex;
    height: 100%;
    padding: 1rem 2rem;
}

.subcategory {
  background: #fff;

  @media (max-width: 991px) {
    display: inline-block;
    width: 100%;
    margin: 0;
    border-radius: 0;
    outline: 0;
    padding: 0;
    height: auto;
    border-bottom: 1px solid hsl(0, 0%, 93.5%);
    vertical-align: top;
    position: relative;
  }

  @media (min-width: 992px) {
    box-shadow: 0px 0px 20px rgba(170, 189, 206, 0.25);
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 10px;
    min-height: 100%;
    padding: 2rem;
    transition: box-shadow 0.25s;
    text-align: center;
  }

  &:hover {
    box-shadow: 0 5px 9px rgba(136, 136, 136, 0.38);
    color: $text-dark;
  }
  &::after {
    @media (max-width: 991px) {
      content: "";
      display: block;
      position: absolute;
      top: calc(var(--mm-spn-item-height) / 2);
      right: calc(var(--mm-spn-item-height) / 2);
      z-index: 0;
      width: 10px;
      height: 10px;
      border-top: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg) translate(0, -50%);
      opacity: 0.4;
    }
  }

  &-container {
    padding: 0;
    margin: 3rem 0;
    list-style: none;

    @media (max-width: 991px) {
      border-radius: 16px;
      box-shadow: 0 5px 9px hsla(0, 0%, 80%, 0.21);
      border: 1px solid #eaeaea;
      overflow: hidden;
    }

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      grid-gap: 20px;
    }
  }

  &-image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 1rem;
    height: 10rem;

    @media (max-width: 991px) {
      display: none;
    }

    & img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &-title {
    display: block;
    margin: auto 0 0 0;

    @media (max-width: 991px) {
      font-weight: 400;
      text-align: left;
      height: initial;
      margin: initial;
      padding: 1.6rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
    @media (min-width: 992px) {
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 500;
    }
  }
}
