@use 'variables' as *;

footer {
background-color: #454552;
color: #fff;

  & a,
  & a:active,
  & a:visited {
    color: #fff;
  }

  & a:hover {
    color: #ddd;
    padding-left: 2px;
    transition: padding 80ms linear;
  }

  & .footer_info {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    width: 100%;
    & > div {
      padding-inline: 10px;
    }

    @media (max-width: $desktop - 1) {
      display: none;
    }
  }
}

.footer .small {font-size: 12px;line-height: normal;color: #bbb;}


.cookie-consent button {
  margin-left: auto;
  margin-top: 10px;
}

.cookie-consent {
  font-size: 1.4rem;
  padding: 15px;
  background-color: #fafafa;
  // display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 8px;
  z-index: 100000;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 10px;
}
