button, input, textarea, select {
    border: none;
    background: none;
    padding: 0;
    font-family: inherit;
}
input, textarea, select {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
}

.validation {
    &-error-element {
        border: 1px solid red !important;
        border-radius: 1rem;
    }
    &-error-text {
        color: #dc3545 !important;
    }
    &-succes-element {
        border: 1px solid green !important;
        border-radius: 1rem;
    }
}


input, textarea, .form-control:not(select) {
    display: block;
    transition: 0.25s;
    width: 100%;
    background: #f7f7f7;
    border: none;
    // font: 400 1.6rem / 2.4rem "Roboto", Arial, Helvetica, sans-serif;
    padding: 1rem 1.6rem;
    color: #222;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    transition: 0.25s;
    box-shadow: none;
    border-radius: 1rem;
    // margin: 0 0 2rem;
    height: 5rem;
    transition: box-shadow 0.25s;
}

.search {
  &-form {
    padding: 2rem 1rem;
    background: #f7f7f7;
    border-radius: 1rem;
    margin-bottom: 5rem;
    & input[type=checkbox] {
      padding: 0 !important;
    margin-right: 1rem;
    }
  }
  &-fields {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    & input, & select {
        background: #fff !important;
        border: none;
        border-radius: 1rem;
        display: block;
        width: 100%;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2;
        color: #212529;
        height: 5rem;
        padding: 0 2rem !important;
        margin: 0 !important;
    }
  }
  &-options {
    display: flex;
    margin-top: 1rem;
  }
}
.form-group {
  flex: 1;
}
.form-horizontal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
