input, textarea, select {
  // border: 1px solid #e2e2e2;
  // border-radius: 8px;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
}

input, textarea, select {
    &.validation-error-element {
        border: 1px solid red !important;
    }
}
.validation {
    &-error-text {
        color: #dc3545 !important;
        font-size: 1.4rem;
    }
}



.search {
  &-form {
    padding: 2rem 1rem;
    background: #f7f7f7;
    border-radius: 1rem;
    margin-bottom: 5rem;
    & input[type=checkbox] {
      padding: 0 !important;
    margin-right: 1rem;
    }
  }
  &-fields {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    & input, & select {
        background: #fff !important;
        border: none;
        border-radius: 1rem;
        display: block;
        width: 100%;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2;
        color: #212529;
        height: 5rem;
        padding: 0 2rem !important;
        margin: 0 !important;
    }
  }
  &-options {
    display: flex;
    margin-top: 1rem;
  }
}
.form-group {
  flex: 1;
}
.form-horizontal, .payment-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

label.required:before {
    content: '* ';
    color: #e47364;
    font-weight: bold;
}
// input[type='radio'] + i:before,
// input[type='checkbox'] + i:before {
//     display: none;
// }


.well select.form-control,
.well input.form-control,
.well textarea.form-control {
border-radius: 2px;
border: 1px solid #ddd;
background: #fff;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
select.form-control {
cursor: pointer;
}
.form-control:focus {
border: 1px solid #ddd;
box-shadow: none;
}


label {
font-size: 14px;
font-weight: normal;
}
// select.form-control, textarea.form-control, input[type="text"].form-control, input[type="datetime"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
// font-size: 14px;
// }
.input-group .input-group-addon {
font-size: 14px;
height: 30px;
}
.input-group .input-group-addon i {
padding-right: 3px;
}

input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
outline: none;
}


input[type="radio"],
.radio input[type="radio"] {
border-radius: 1em;
margin-left: -21px;
}
input[type="radio"]:checked::after,
.radio input[type="radio"]:checked::after {
position: relative;
top: 3px;
left: 3px;
display: block;
width: 6px;
height: 6px;
content: '';
background: #666;
border-radius: 1em;
-webkit-transition: all .2s ease;
transition: all .2s ease;
}
