@use 'variables' as *;

.header {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.05);

  @media (min-width: $desktop) {
    background: #f7f7f7;
  }
  @media (max-width: $desktop - 1) {
    background: #fff;
    border-bottom: 1px solid #E4E7F1;
  }

  &__mobile {
    @media (min-width: $desktop) {
      display: none;
    }
    @media (max-width: $desktop - 1) {
      color: #343434;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: space-between;
      height: 7.5rem;
    }
    a {
      font-size: 2rem;
      @media (max-width: 500px) {
        font-size: 1.6rem;
      }
    }
  }


  &__desktop {
    @media (max-width: $desktop - 1) {
      display: none;
    }
  }


  &__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: center;
    position: relative;
  }

  &__desktop {
    outline: none;
    box-sizing: border-box;
  }

  & .top1 {
    font-size: 1.3rem;
    height: 3.5rem;
    gap: 2rem;
    & a:has(> svg + :not(span):not(:empty)) svg {
      margin-right: 0.4rem;
    }
  }
  & .top2 {
    padding: 10px 0;
    gap: 2rem;
  }

  & .top3 {
    gap: 2rem;
  }

  &__info {
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 500;
    @media (min-width: 1199px) {
      margin: 0 auto 0 23rem;
      -ms-flex: 1;
      flex: 1;
      max-width: 80rem;
    }
  }


  &__logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    @media (max-width: 1199px) {
      margin-left: auto;
    }
    @media (min-width: 450px) {
      flex: 0 0 21rem;
    }
    @media (max-width: 450px) {
      width: 13rem;
    }
    & img {
      max-width: 100%;
    }
  }
  &__callback {
    margin-left: auto;
    margin-right: 3rem;
  }

  &__search {
    max-width: 80rem;
    margin: 0 auto 0 0;
    position: relative;
    -ms-flex: 1;
    flex: 1;
    & .input-group {
      height: 4.6rem;
    }

    &-input {
      display: block;
      width: 100%;
      border: 1px solid transparent;
      background: var(--theme-secondary-color);
      border-radius: 5px;
      padding: 1rem 10rem 1rem 2rem;
      font-size: 1.3rem;
      line-height: 2.4rem;
      font-weight: 400;
      height: 4.6rem;
      color: #fff;
      transition: background 0.25s, border-color 0.25s;
    }
  }

  &__group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.3rem;
    i {
      @media (min-width: 450px) {
        margin-right: 0.3rem;
      }
    }
  }
  &__action {
    margin: 0 0.5rem 0 0;

    &-btn {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        height: 4.6rem;
    }

  }
  &__catalog {
            flex: 0 0 21rem;
        position: relative;
        z-index: 100;
        -ms-flex: 0 0 210px;
  }
  &__tags {
    flex: 1;
    display: flex;
    align-items: center;

    &-menu {
      margin: 0;
        padding: 0;
        list-style: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        gap: 1rem;
    }
    &-btn {
      border-color: rgba(52, 52, 52, 0.1);
      color: $text-dark;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 3.5rem;
      font-size: 1.5rem;
      line-height: 1.2;
      font-weight: 500;
      padding: 0 1.5rem;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      transition: border-color 0.25s;
      text-decoration: none;
      cursor: pointer;

      &:hover, &:focus {
        border: 1px solid $text-dark;
        color: $text-dark;
      }
    }
  }

  &__phone {
    position: relative;
    display: inline-block;
    height: 4.6rem;

    .dropdown-menu {
      display: block;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 100%;
      right: 0;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    &:hover .dropdown-menu,
    .dropdown-menu:hover {
      opacity: 1;
      visibility: visible;
      pointer-events: auto; // Возвращаем взаимодействие
      transition-delay: 0s; // Убираем задержку при открытии
    }
  }

  &__call {
    &-offcanvas {
      @media (max-width: 1199px) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2100;
        background: rgba(0, 0, 0, 0.5);
        padding: 3rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: end;
        justify-content: flex-end;
        transition: opacity 0.25s, visibility 0.25s;
        opacity: 0;
        visibility: hidden;
      }
      &-in {
        @media (max-width: 1199px) {
          background: #fff;
          color: #343434;
          border-radius: 5px;
          overflow: hidden;
        }
      }
    }
    &-menu {
      @media (max-width: 1199px) {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      & > li {
        @media (max-width: 1199px) {
          border-bottom: 1px solid #E4E7F1;
        }
      }
    }
    &-link {
      @media (max-width: 1199px) {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 5rem;
        padding: 1rem 2rem;
        color: #343434;
        text-decoration: none;
        font-size: 1.5rem !important;
        line-height: 1.2;
        font-weight: 500;
        width: 100%;
      }
    }
  }

}


#menu2_button:hover #menu2,
#menu2:hover {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; // Возвращаем взаимодействие
  transition-delay: 0s; // Убираем задержку при открытии
}
.header__catalog {
  position: relative;
  display: inline-block;
}

.header__catalog:hover #menu2,
#menu2:hover {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-delay: 0s;
}
/* Добавляем псевдоэлемент для устранения разрыва */
.header__catalog::after {
  content: '';
  position: absolute;
  // bottom: -10px; /* Перекрываем разрыв между кнопкой и меню */
  left: 0;
  width: 100%;
  height: 30px; /* Высота области для перехода */
  background: transparent;
  z-index: 1;
}

#menu2 {
  background: #fff;
  position: absolute;
  border-radius: 10px;
  margin-top: 15px;
  top: 100%; /* Позиционируем прямо под кнопкой */
  left: 0;
  z-index: 2;
  box-shadow: 0 0px 10px rgba(0,0,0,0.2);
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 12px 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transition-delay: 0.2s;
}

#menu2 ul.lastul .show_categoryoff:hover {border-color: #3881DF;}
#menu2 .am_category_image>img {width: 21px;}
#menu2 li.glavli ul .fa.fa-minus {display: none;}
#menu2 ul.lastul {margin-left: 50px; padding-top: 5px;}

