@use 'swiper/scss/navigation';
@use 'variables' as *;

:root {
  --swiper-navigation-size: 22px;
  --swiper-navigation-color: var(--text-base);
}

.swiper-wrapper {
  height: unset;
}

@media (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

// Tab sliders
.slider-tabs {
  align-items: center;
  & > div {
    width: auto;
  }
  &__btns {
    background: none !important;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .product_thumbs_swiper {display: none;}
    #revsubscribe {
    background-color: #fafafa;
    position: relative;
    overflow: hidden;
  }
}
