// Abstracts
@use 'variables' as *;

// Old styles
@use './stylesheet.css';
@use './stylesheet_my.css';

// Components
@use './lazy_swiper.scss';
@use './lazy_header.scss';
@use './utilities.scss';
@use './bootstrap.css';
@use './btns.scss';
@use './lazy_home.scss';
@use './article.scss';
@use './lazy_category.scss';
@use './lazy_blog.scss';
@use './placeholder.scss';
@use '../mmenu-light/mmenu-light';
@use './menu.scss';
@use './footer.scss';
@use './popup.scss';
@use './elements.scss';
@use './cart.scss';
@use './compare.scss';
@use './table.scss';
@use './lazy_product.scss';
@use './lazy_btns.scss';
@use './lazy_elements.scss';
@use './form.scss';
@use './temp.scss';


@media print {
header,
.breadcrumb,
#column-left,
.well.well-sm,
.pagination,
.stiker_panel,
.nav.nav-tabs,
footer {
display: none;
}
}


.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
outline: none;
box-shadow: none;
}

.zatemnenie_img {
filter: gray;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
opacity: 0.6;
}

.masked {
position: absolute;
z-index: 99;
width: 100%;
height: 100%;
background: #fff;
opacity: 0.7;
left: 0;
top: 0;
}

.home_block a:hover .image > img {-webkit-transform: translateY(-3px);transform: translateY(-3px);}
