// Abstracts
@use 'variables' as *;

// Old styles
@use './stylesheet.css';
@use './stylesheet_my.css';

// Components
@use './swiper.scss';
@use './grid.scss';
@use './utilities.scss';
@use './bootstrap.css';
@use './btns.scss';
@use './header.scss';
@use './home.scss';
@use './product.scss';
@use './article.scss';
@use './category.scss';
@use './blog.scss';
@use './placeholder.scss';
@use './cart.scss';
@use './temp.scss';
@use './lazy.scss';

// Основные стили
:root {
  --color-primary:      #0063D1;  /* Основной брендовый цвет (акцентные элементы, кнопки) */  
  --color-secondary:    #6c757d;  /* Второстепенный фон (карточки, разделители) */  
  --color-muted:        #adb5bd;  /* Светлый фон (неактивные элементы, подложки) */  
  --color-base:         #ffffff;  /* Основной фон (страница, контентные блоки) */  
  --color-dark:         #333333;  /* Тёмный фон (футеры, акцентные поверхности) */  
  --color-backdrop:     #000000;  /* Затемнение (оверлеи, модальные окна) */  


  --text-primary:	#0063D1; //(синий)	Основной брендовый цвет (ссылки, кнопки, акценты)
  --text-secondary:	#6c757d; //(серый)	Второстепенный текст (подписи, даты, доп. информация)
  --text-muted:	#adb5bd; //(светло-серый)	Неактивный/выключенный текст
  --text-base:	#333; //(тёмно-серый/почти чёрный)	Основной цвет текста (параграфы, body)
  --text-heading:	#000; //(чёрный)	Заголовки (h1-h6)

  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-size: 10px;

  // @media (min-width: $desktop) {
  //   font-size: 0.6802721088vw;
  // }
}

body {
  margin: 0;
  font-family: var(--font-sans-serif);
  font-size: 1.6rem;
  font-weight: 400;
  // line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
  overflow-x: hidden;
  width: 100%;
}


.loading {
    position: relative;
    pointer-events: none;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
button .loading {
    background: #6c757d;
    color: #6c757d;
    border-color: #6c757d;
}

.loading::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-top-color: var(--color-primary);
  animation: btn-spinner 0.6s linear infinite;
}

@keyframes btn-spinner {
  to { transform: rotate(360deg); }
}

h1, h2, h3 {
    font-weight: 700;
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
  margin-bottom: calc(1.3rem + 0.6vw);

  @media (min-width: $desktop) {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a:hover, a:focus {
  color: var(--color-primary);
  text-decoration: none;
  // text-decoration: none;
  cursor: pointer;
}

button {
  color: #333;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;

}
button:hover, button:focus {
  color: var(--color-primary);
  cursor: pointer;
}

.container-fluid {

  @media (min-width: 768px) {
    max-width: 147rem;
    padding: 0 2.5rem;
  }
}


/* Стандартный фокус для клавиатурной навигации */
:focus-visible {
  // outline: 1px solid #000000;
  outline: none;
}

/* Отключение стандартного фокуса для кликов мышью */
:focus:not(:focus-visible) {
  outline: none;
}


@keyframes shimmer {
  to { background-position: -200% 0; }
}
.shadow-box {
  border-radius: 16px;
  box-shadow: 0 5px 9px rgb(204 204 204 / 21%);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: 1px solid #eaeaea;
}
.shadow-box:hover {
    box-shadow: 0 5px 9px rgb(136 136 136 / 38%);
}
.hidden {
    display: none;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
#menu2 .col-1 {
    width: 100%;
}

#menu2 .col-3 {
    width: 33%;
}

// product-info input[type='radio'] + label, .product-info input[type='checkbox'] + label {
.options label:has(input[type='radio']),
.options label:has(input[type='checkbox']) {
    background: #fff;
    padding: 3px 0;
    margin: 0;
    color: #333;
    font-size: 14px;
    box-shadow: none;
    border-radius: 2px;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    position: relative;
    min-width: 36px;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.product-info label:has(input[type='radio'])  .fa::before,
.product-info label:has(input[type='checkbox'])  .fa::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    // margin-right: 0.2em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    display: inline-flex;
    align-items: center;
    user-select: none;
    vertical-align: text-top;
    font-size: 14px;
}

// .product-info label:has(input[type='checkbox']:checked)  .fa::before {
//     content: "\f00c";
// }
// .product-info label:has(input[type='checkbox']:checked)  .fa::before {
//     content: "\f00c";
// }
.compare:not(.in-compare):hover svg, .options label:has(input[type='checkbox']:not(:checked)):hover svg  {
        
    border: 1px solid #555;
}
[data-action$="-toggle"] {
    position: relative;
}

#column-left + #content {
  @media (min-width: $desktop) {
    padding-left: 2rem;
  }
}

#column-left + #content + #column-right {
  @media (min-width: $desktop) {
    padding-inline: 2rem;
  }
}

.revcart_column_left:has(+ .revcart_column_right) {
  @media (min-width: $desktop) {
    padding-right: 2rem;
  }
}

h1.title {
    line-height: 32px;
    font-size: 3rem;
    font-weight: 700;
    padding: 0 0 16px;
}
