@use 'variables' as *;

.swiper .product-thumb {
  width: 25rem;
}

.product-main-image {
  display: flex;
  justify-content: center;
}

.product-thumb {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 12px;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  & h4 {
    font-weight: 600;
  }

  & .cart {
    border: 1px solid #eee;
    color: #555;
    background: none;
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    margin: 0;
  }

  & .attributes {
    flex-grow: 1; /* Растягивает блок */
    font-size: 12px;
  }

  & .product_buttons {
    margin-top: auto; /* Прижимает кнопки к низу */
    padding: 10px 0;
  }

  & button {
    border-radius: 0.5rem;
  }

  & .product_buttons {

    & a, button {
      font-size: 1.4rem;
    }
  }
}

.btns-actions {
  display: flex;
  margin-left: auto;
  gap: .5rem;
}
.products {
  &__list {
    margin: 2rem 0 2rem 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  }
}
.product-layout {
  padding: 5px;
  height: 100%;
}

.product_footer {
  & .stock_status {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: .3rem;
  }
}

.sortline {
  background: #f7f7f7;
  padding: 1rem;
  font-size: 1.4rem;
  border-radius: 12px;

  &-group {
    // position: relative;
    display: flex;
    // flex-wrap: nowrap;
    align-items: center;
    width: auto;
    // gap: 0.4rem;
    &-text {
      @media (max-width: $desktop - 1) {
        display: none;
      }
    }

    & select {
      color: $primary-color;
      cursor: pointer;
      padding: 0;
    }
  }
}

@container products-list (min-width: 1250px) {
  li {
    flex: 0 0 auto;
    width: 20% !important;
  }
}

@container products-list (min-width: 1000px) and (max-width: 1249px) {
  li {
    flex: 0 0 auto;
    width: 25% !important;
  }
}

@container products-list (min-width: 768px) and (max-width: 999px) {
  li {
    flex: 0 0 auto;
    width: 33.333% !important;
  }
}

@container products-list (min-width: 460px) and (max-width: 767px) {
  li {
    flex: 0 0 auto;
    width: 50% !important;
  }
}

@container products-list (max-width: 459px) {
  li {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

.products {
  &__list {
    container-type: inline-size;
    container-name: products-list;
  }
}


.in-wishlist {
  color: $primary-color;
}

.compare {color:#333333;}
.compare_rating {display: flex;align-items: center;}
.compare_rating > div {
    font-size: 14px;}
.product-info .compare {margin-left: 0;}

.product-thumb .rating {margin-left: 5px;}
// .product-thumb .rating .fa-stack{width: 1.3em;height: 1.3em;}
// .compare_rating .rating .fa-star {font-size: 17px;}
// .compare_rating .rating .fa-stack {vertical-align: text-top;}


.product_buttons {
  display: flex;align-items: center;justify-content: space-between;

  & > div {white-space: nowrap;}

  & .price + .wishlist {width: 100%;text-align: right;}

}
.search-results-title {
    margin-bottom: 3rem;
}

#product_accessories {

  & .accessories-heading {
    padding-bottom: 1rem;
  }
  & .accessories {
    &_title {width: 200px;-webkit-box-orient: vertical; -webkit-line-clamp: 2; display: -webkit-box; line-height: 20px; height: 40px; max-width: calc(100% - 90px); overflow: hidden; text-overflow: ellipsis; text-align: left;}
    &_image {height: 80px; width: 80px; position: absolute; top: 7px; right: 7px;}
    &_buttons {align-items: center;display: flex;height: 24px;margin-top: 10px;min-height: 24px;position: relative;}
    &-price {font-weight: 700;
      &:not(:only-child) {margin-left: 16px;}
    }
    &-thumb {width: 280px;border: 1px solid #ddd;border-radius: 5px;flex-direction: column; display: flex;padding: 7px 10px;position: relative;}
    &_buttons .btn-cart {
      padding: 4px 13px;
      border: solid 1px #eee;
      border-radius: 5px;
      color: #333;
      margin: 0;
      background: #fff;
    }
  }
}

@media (min-width: 992px)  {
.well-sm.product-info {width: fit-content;}
}

.prodvar {padding: 5px 0 10px 0;display: flex;
flex-wrap: wrap;
    gap: 5px;
    align-items: center;}
.prodvar li  {list-style: none;}
.prodvar li * {
  border-radius: 8px;
}
.prodvar li a {padding: 7px 10px;
    background: #efefef;
    display: flex;
    border: 2px solid #efefef;
}
.prodvar li a:hover {border: 2px solid #3881df;}
.prodvar li span.active {
  border: 2px solid #3881df;
    padding: 7px 10px;
    background: #efefef;
    color: #3881df;
    font-weight: bold;
    display: flex;
    box-sizing: border-box;}

.prodvar_title {margin-top: 20px;margin-bottom: 10px;}

.inline-btns {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.product_footer {
  display: flex;
  align-items: flex-end;
}

#reviews, #answers {
  min-height: 100px;
  position: relative;

  & .review-list {
    margin-bottom: 30px;
  }
}

.well {
  & input, textarea {
    background: #fff;
  }
  & form {
    padding: 2rem;
  }
}

.product-gallery {
  margin: 2rem;
}

.attribute-item {background: #efefef99;margin: 5px 5px 0 0;padding: 2px 8px;border-radius: 4px;display: inline-block;}
.attribute-text {padding-left: 3px;font-weight: bold;text-transform: capitalize;}
