@use 'variables' as *;

.swiper .product-thumb {
  width: 25rem;
}

.product_thumbs_swiper {
  @media (max-width: $desktop - 1) {
    display: none;
  }
}
.product-main-image {
  display: flex;
  justify-content: center;
}

.product-thumb {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 12px;
  // width: 25rem;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;

  & .cart a {
    border: 1px solid #eee;
    color: #555;
    background: none;
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    // font-size: 17px;
    padding-inline: 1rem;
    margin: 0;
  }

  & .description_options {
    flex-grow: 1; /* Растягивает блок описания */
    // margin-bottom: 10px;
  }

  & .product_buttons {
    margin-top: auto; /* Прижимает кнопки к низу */
    padding: 10px 0;
  }

  &:hover .cart a {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  & a {
    border-radius: 0.5rem;
  }

  & .product_buttons {

    & a {
      font-size: 1.4rem;
      // padding-inline: 1rem;
    }

    & a:hover, a:hover .fa {
      border-color: $primary-color;
      color: #FFF !important;
      background: $primary-color;
      border-radius: 0.5rem;
    }
  }

}


.categories {

  &__item {
    display: flex;
    flex-direction: column;
    background: #fff;
    min-height: 100%;
    padding: 2rem;
    transition: box-shadow 0.25s;
    text-align: center;
    width: 25rem;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 5px 9px rgb(204 204 204 / 21%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 1px solid #eaeaea;

    &:hover {
      box-shadow: 0 5px 9px rgba(136, 136, 136, 0.38);
      color: $text-dark;
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 1rem;
      height: 10rem;

      & img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
    &-title {
      display: block;
      margin: auto 0 0 0;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 400;
    }
  }
}

.btns-actions {
  display: flex;
  margin-left: auto;
  gap: 0.5rem;
}
.products {
  &__list {
    margin: 2rem 0 2rem 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  }
}
.product-layout {
  padding: 5px;
  height: 100%;
}

.product_footer {
  & .stock_status {
    font-size: 1.2rem;
  }
}

.sortline {
  background: #f7f7f7;
  padding: 1rem;
  font-size: 1.4rem;

  &-group {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    gap: 0.4rem;
    &-text {
      @media (max-width: $desktop - 1) {
        display: none;
      }
    }

    & select {
      color: $primary-color;
      cursor: pointer;
      border: 0;
      padding: 0;
    }
  }
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 3rem;
    list-style: none;
    border-bottom: 1px solid #ededed;
    border-radius: 0;
    overflow: hidden;

  & * {
    color: $text-light;
    font-size: 1.4rem;
  }

  & > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
  }
}

.pagination > li > a, .pagination > li > span {padding: 5px 15px;border-radius: 5px;}
.pagpages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 5rem;
}
.results-pages {
    margin-left: auto;
    font-size: 1.3rem;
}
.pagination-links {
    width: 100%;
}


@container products-list (min-width: 1250px) {
  li {
    flex: 0 0 auto;
    width: 20% !important;
  }
}

@container products-list (min-width: 1000px) and (max-width: 1249px) {
  li {
    flex: 0 0 auto;
    width: 25% !important;
  }
}

@container products-list (min-width: 768px) and (max-width: 999px) {
  li {
    flex: 0 0 auto;
    width: 33.333% !important;
  }
}

@container products-list (min-width: 460px) and (max-width: 767px) {
  li {
    flex: 0 0 auto;
    width: 50% !important;
  }
}

@container products-list (max-width: 459px) {
  li {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

.products {

  &__list {
    container-type: inline-size;
    container-name: products-list;
  }

  &__categories {
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    margin: 3rem 0;
    list-style: none;
    overflow-x: auto;
    overflow-y: hidden;

    @media (min-width: $desktop) {
      overflow: visible;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    & li {
      padding: 1rem;

      @media (max-width: $desktop - 1) {
        flex: 0 0 24rem !important;
        max-width: 24rem !important;
      }

      @media (min-width: $desktop) {
        flex: 0 0 auto;
        width: 25% !important;
      }
    }

    &__item {
      box-shadow: 0px 0px 20px rgba(170, 189, 206, 0.25);
      align-items: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      background: #fff;
      border-radius: 10px;
      min-height: 100%;
      padding: 2rem;
      transition: box-shadow 0.25s;
      text-align: center;

      &:hover {
        box-shadow: 0 5px 9px rgba(136, 136, 136, 0.38);
        color: $text-dark;
      }

      &-image {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 0 1rem;
        height: 10rem;

        & img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
        }
      }

      &-title {
        display: block;
        margin: auto 0 0 0;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 500;
      }
    }
  }
}


.in-wishlist {
  color: $primary-color;
}

.in-wishlist i.fa.fa-border.fa-heart::before {content: "\f004";}

.compare .fa-bar-chart-o {display: inline-flex;
    align-items: center;
    user-select: none;
    vertical-align: text-top;}
.compare .fa-bar-chart-o:before {content: ""; display: inline-block; width: 16px; height: 16px; flex-shrink: 0; flex-grow: 0; border: 1px solid #adb5bd; border-radius: 0.25em; margin-right: 0.2em; }
.compare:hover .fa-bar-chart-o:before, .product-info input[type="checkbox"] + label:hover .fa::before {border: 1px solid #555;}
.compare:hover a, a.compare:hover {color: #555;}
.compare.in-compare .fa-bar-chart-o:before {content: "\f00c"; color: #555;}
.compare {color:#333333;}
.compare_rating {display: flex;align-items: center;}
.compare_rating > div {
    align-items: center;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    padding: 4px 6px;
white-space: nowrap;
color:#333333;}
.product-info .compare {margin-left: 0;}

.product-thumb .rating {margin-left: 5px;}
.product-thumb .rating .fa-stack{width: 1.3em;height: 1.3em;}
.compare_rating .rating .fa-star {font-size: 17px;}
.compare_rating .rating .fa-stack {vertical-align: text-top;}

.search-form-container {
    padding: 2rem 1rem;
    background: #f7f7f7;
    border-radius: 8px;
    margin-bottom: 5rem;
}

.product_buttons {
  display: flex;align-items: center;justify-content: space-between;

  & > div {white-space: nowrap;}

  & .price + .wishlist {width: 100%;text-align: right;}

}
.search-results-title {
    margin-bottom: 3rem;
}

#product_accessories {
  & .row {margin-right: 0;}
  & .product-layout {padding-left: 15px;padding-right: 0;}

  & .accessories {
    &_title {-webkit-box-orient: vertical; -webkit-line-clamp: 2; display: -webkit-box; line-height: 20px; height: 40px; max-width: calc(100% - 90px); overflow: hidden; text-overflow: ellipsis; text-align: left;}
    &_image {height: 80px; width: 80px; position: absolute; top: 7px; right: 7px;}
    &_buttons {align-items: center;display: flex;height: 24px;margin-top: 10px;min-height: 24px;position: relative;}
    &-price {font-weight: 700;
      &:not(:only-child) {margin-left: 16px;}
    }
    &-thumb {border: 1px solid #ddd;border-radius: 5px;flex-direction: column; display: flex;padding: 7px 10px;position: relative;}
    &_buttons .btn-cart {
      padding: 4px 13px;
      border: solid 1px #eee;
      border-radius: 5px;
      color: #333;
      margin: 0;
      background: #fff;

      &:hover {
        color: $primary-color;
        border: solid 1px $primary-color;
      }
      &:active {border: solid 0.08em #ff6700;color:#ff6700;}
    }

  }
}

.wishlist .fa, .lupa .fa {
  border: 1px solid #eee; border-radius: 5px; width: 30px; height: 30px; display: flex; align-items: center; justify-content: center;
}

.prodvar {padding: 5px 0 10px 0;display: flex;
flex-wrap: wrap;
    gap: 5px;
    align-items: center;}
.prodvar li  {list-style: none;}
.prodvar li a {padding: 7px 10px;
    border: 2px solid #c3c3c3;
    background: #efefef;
    border-radius: 5px;
    display: flex;}
.prodvar li a:hover {border: 2px solid #3881df;}
.prodvar li span.active {    border: 3px solid #3881df;
    padding: 7px 10px;
    background: #efefef;
    border-radius: 4px;
    color: #3881df;
    font-weight: bold;
    display: flex;
    box-sizing: border-box;}

.prodvar_title {margin-top: 20px;margin-bottom: 10px;}

.inline-btns {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.product_footer {
  display: flex;
  align-items: flex-end;
}
