#top7 {padding: 30px 0 15px 0; margin-bottom: 20px;}
@media (min-width: 1600px) { .container {width: 1540px;} .box-col-3 {width: 1200.5%;} .box-col-2 {width: 810%;} .box-col-1 { width: 350%;}}
#top3 {width: 100%;}
#top .container {border-bottom: none;}
a,.list-group a,.pagination>li>a, .pagination>li>span {color: #333333;}
.btn-primary,.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .cd-products-comparison-table .filter_otlich_span.active {background-color: #333333; border-color: #333333;}
a:hover,.list-group a:hover,.list-group a.active:hover,.pagination>li>a:hover,.pagination>li>span:hover,.product-info .btn-plus button:hover, .product-info .btn-minus button:hover, .product-info .compare .fa:hover, .product-info .wishlist .fa:hover,.product-info input[type="radio"]:checked + label span.option_price, .product-info input[type="checkbox"]:checked + label span.option_price,.home_block a:hover, .home_block a:hover .image > .fa,#menu .nav > li .dropdown-menu li .dropdown-menu ul li a:hover,#menu .nav > li > div > .dropdown-menu > div > ul > li > a:hover,.display-products-cart .btn-plus button:hover, .display-products-cart .btn-minus button:hover,.dropdown-menu li > a:hover, .dropdown-menu li > a:hover i,.search .search_button:hover,.search .change_category_button:hover,.well.well-sm .btn-group-justified .btn-default:hover,.dropdown-menu li > a:hover, .dropdown-menu li > a:hover i,.search .dropdown-menu > li > a:hover .name,.table-revolution .btn-plus button:hover, .table-revolution .btn-minus button:hover,.product-info .pokupka .preimushestva .home_block a:hover .fa,#menu2 ul.lastul .show_categoryoff:hover,.options_buy .checkbox label:hover,.options_buy .radio label:hover,.display-products-cart tr td.remove button:hover {color: #3881DF;}
.btn-primary:hover,.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {background-color: #3881DF; border-color: #3881DF;}
.rating .fa-star,.rat-star.active,.rat-star.checked,.rating .fa-star + .fa-star-o,.product-info input[type="radio"]:checked + label .fa, .product-info input[type="checkbox"]:checked + label .fa {color: #FF8800;}
.btn-danger {background-color: #FF8800;}
.product-info input[type="radio"]:checked + label,.product-info input[type="checkbox"]:checked + label,.product-info input[type="radio"]:hover + label, .product-info input[type="checkbox"]:hover + label {box-shadow: 0px 0px 1px 1px #FF8800;}
.product-info .radio .btn-default:active {border-color: #FF8800;}
.product-thumb .description {display: block;}
.home_block .image > .fa,.home_block .image > img {-webkit-transition-property: color, opacity, transform;transition-property: color, opacity, transform;}.home_block a:hover .image > .fa,.home_block a:hover .image > img {-webkit-transform: translateY(-3px);transform: translateY(-3px);}
#blog_mod .blog-list .image {margin: 0 10px 10px 0; float: left; width: 100px;}
#blog_mod .blog-list .opisb h4 {height: initial !important;}
.fapanel {bottom: -10px;}

@media (min-width: 992px) {
h1 {margin: 0.67em 0;font-size: 2em;}
h2 {font-size: 20px;}
h3 {font-size: 17px;}
.product-thumb:hover .fapanel {bottom: 0;}
.product-thumb:hover .stiker_panel {opacity: 1; z-index: 7;}
}
.product-thumb .fapanel .fa, .cd-products-comparison-table .cart_wish .wishlist .fa, .cd-products-comparison-table .cart_wish .trash .fa {font-size: 17px; color: #555; background: transparent; border: transparent;}
/* .fa-heart:before {content: "\f08a";} */
/* .fapanel .fa-eye:before {content: "\f24a";} */
.product-thumb .image img {width: 100%;}

@media (min-width: 768px) and (max-width:991px) {
.col-xs-12.col-sm-6.col-md-3 {width: 33%;}
}
@media (max-width: 767px) {
#top {background-color: #3881df;}
.col-xs-12.col-sm-6.col-md-3 {width: 50%;min-height: 3em;}
#top2 #logo {top: 65%;}
#top2 .dropdown-menu {width: max-content;}
.phone_dop_text2 a {padding-left: 5px;}
  #top {background-color: #FFFFFF; position: fixed; top: 0; width: 100%; box-shadow: 0 0 10px 2px rgba(0,0,0,.2); color: #fff; border-bottom: none;} #top2 {margin-top: 38px;} #top2 .container {padding: 15px 15px 5px;}
  #top2 #logo {margin-bottom: 0;}
.well.well-sm .row {display: flex;}
.well.well-sm {background: #fff;}
.well select.form-control, .well input.form-control, .well textarea.form-control {box-shadow:none;}
select#input-sort {width: auto;}
.col-sm-12.col-md-9 {margin-top: 15px;}
#banner img {object-fit: cover;}
.col-xs-12.col-sm-6.col-md-3.pull-right {position: absolute;top: 0;right: 0;}
}
@media (max-width: 325px)
{
.row .products_category .col-xs-6 {width: 100%;}
.product-layout.col-lg-12.item.new_line {padding: 2px;}
}
@media (max-width: 380px)
{
.image .stiker_panel {left: -12px;}
.image .stiker {margin-right: 0;}
.phone_dop_text2 {display: flex;align-items: flex-end;}
.container, #top2 .container {padding-right: 7px !important;padding-left: 7px !important;}
.row {margin-right: 0; margin-left: 0;}
 .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-6, .col-lg-9, .col-md-12, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-9, .col-sm-10, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-12, .col-xs-4, .col-xs-6, .col-xs-8 {padding-right: 0; padding-left: 0;}
}
@media (max-width: 570px)
{
.dropdown-menu>li>a {white-space: break-spaces;}
}
#top3 {padding: 5px 0;}
.box-content.am {z-index: initial;}
.child-box {border-radius: 10px; margin-top: 15px;}
body {color: #333;}
#top2 {background: #f7f7f7;}
#top3 {background: #f7f7f7;}
#top3 {-webkit-transition: none;}
#menu2_button .icorightmenu .fa {transition: all 100ms linear;}
#menu2_button:hover .icorightmenu .fa {transform: rotate(-180deg); transition: all 100ms linear;}

.product-thumb .fapanel .fa:hover {color: #E85A71;}
.child-box {padding: 10px 20px 20px 20px;}
#menu2 .am_category_image>img {max-width: 25px; width: 25px; margin-right: 10px; margin-top: -4px;}

.prlistb {padding: 3px 5px; font-family: Roboto, Helvetica, sans-serif; display:inline-block;font-size: 14px;}
.product-thumb .price {display: flex;align-items: center;position: relative !important;}
.product-thumb .price {text-align: left; font-size: 18px;line-height: 15px;}
.compare-info .stiker_spec .price-old {color: #fff;}
 .cd-products-comparison-table .filter_otlich_span.active {background: rgb(63 162 12 / 45%); color: #fff;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {border-color: #0063d1; background: #0063d1; color: #fff;}
 #popup-order-okno .popup-footer button, #popup-order-okno .popup-footer a, .product-info input[type='radio'] + label, .product-info input[type='checkbox'] + label, .product-info .radio .img-thumbnail, .btn, .well-sm, #menu .nav > li > a, .options_buy .fa-border, .vertical-sreview, .panel {border-radius: 4px;}
.well {background: #f7f7f7;
  border-radius: 1rem;
}
.img_sub {bottom: 10px; right: 10px; width: 25%; opacity: 0.1;}
#menu ul.nav {border-radius: 10px; box-shadow: 0 5px 9px rgb(204 204 204 / 21%);}
#menu .nav > li > div > .dropdown-menu > div > ul > li > a {margin: 2px 10px 10px 5px;}
.well-sm.product-info .options_buy {background: #fff; padding: 0; border: 0; margin: -8px; padding: 15px 15px;}
.well-sm.product-info .options_buy + hr {padding: 10px;}
#content .well.well-sm .row .input-group .input-group-addon {background: transparent; border: 0;}
#content .well.well-sm .row select.form-control, #content .well.well-sm .row .btn-group-justified {border: 0;}
#blog_mod .blog-list .image {width: initial;}
.rev_blog_mod_left_column {padding-top: 10px;}
#revsubscribe {background-color: #f7f7f7;}
.breadcrumb {border-color: #ededed;}

 .panel-default>.panel-heading, .panel-default, #blog_mod .col-lg-12 + .col-lg-12 .blog-list {border-color: #ededed !important;}
.list-group a.active {background-color: #fff; color: #E85A71; border-color: #ededed !important; font-size: 15px;}
.panel.revmenumodcustom .panel-heading {padding: 10px; font-size: 15px;}

@media (max-width: 1199px) 
{
.col-md-3 {width: 30%;}
}

.input-group-addon, .input-group-btn { width: auto; display: flex; align-items: center;}
#menu .nav > li .dropdown-menu li {display: inline-block !important; text-align: left !important;}
.review-list .text {background: transparent; border-color: #ededed; border-radius: 4px;}
.review-list .text:after {border-bottom-color: #fff;}
.review-list .text:before {border-bottom-color: #ededed;}
.well select.form-control, .well input.form-control, .well textarea.form-control {border-color: #ededed;}
#popup-order-okno .pull-right {font-size: 12px;}
.footer .zag_dm_cf {color: #bbb; border-bottom: 1px solid #999;}
.search .input-lg {background: #fff;border-radius: 10px !important;}
.cd-products-table .top-info img {width: 70%; margin: 0 auto;}
.cd-products-table .top-info h3 {margin-top: 15px;}
.cd-products-table .osnovtd .fa {padding: 0 2px;}
.cd-features-list .compare-attribute {min-height: 51px;}
li.compare-attribute {white-space: nowrap;overflow: unset !important;}
#menu ul.nav {background: #fff;border: 1px solid #eee;}
#menu .nav > li > a {color: #4e4e4e;}
#menu .mmmenu a {color: #333;}
#menu .nav > li > div > .dropdown-menu > div > ul > li > a {font-size: 14px;}
#top2 .container {padding:0 15px;}
#top3 .col-md-3 {padding-top:2px}
#menu2 sup {font-size: 65%;}
#menu .nav > li .dropdown-menu ul {min-width: 350px;}
#column-left .rev_blog_mod_left_column {padding-top: 0px;}
#column-left .heading_h {background-color: #eee;color: #333;font-size: 16px;padding: 0px 25px;position: relative;min-height: 40px;line-height: 40px;width:100%;top:0px;}
#column-left .heading_h h3 {font-size: 16px;font-weight: normal;}
#blog_mod .blog-list .opisb h4 {margin: 0 0 0 0;}
#mobil_mmenu ul.mm-listview {margin-top: 0;}
h1, h2, h3 {font-weight: bold;}
sub, sup {padding-left: 3px;}
#top2 #logo {margin: 0;position: absolute;transform: translate(0, -50%);}
.hidden-xs.bigsearch.col-xs-12.col-sm-4.col-md-4 {min-height: 5em;display: table-cell;vertical-align: middle;position: relative;}	
#top2 .bigsearch .search input:hover, #top2 .bigsearch .search input:focus {box-shadow: 0 0 0 1px #0000000a, 0 4px 4px #0000000a, 0 20px 40px #00000014;}
#menu2 ul {padding-top: 15px;}
.revlevel_1.hasChildren.i_rhml_manufs.open a {margin-top: 15px;}
.revlevel_1.hasChildren.i_rhml_manufs.closed a {border-top: 1px solid #f7f7f7;margin-top: 15px;}
.phone_dop_text2 {padding-top: 5px}
@media (min-width: 768px) {
.tab-content #tab-specification {-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;-webkit-column-gap: 30px;-moz-column-gap: 30px;column-gap: 30px;-webkit-column-rule: 1px solid #eee;-moz-column-rule: 1px solid #eee;column-rule: 1px solid #eee;}
#top2 #logo {;top: 59%;}
.container, #top2 .container {padding: 0 10px;}
.bigsearch.col-xs-12.col-sm-4.col-md-4 {position: inherit;}
}
.ocf-category-page-list {overflow: auto !important;}

#blog_mod .blog-list .opisb h4 {padding-left: 10px;}
#blog_mod .blog-list .opisb h4 > a {color: #333;} #blog_mod .blog-list .opisb h4 > a:hover {color: #E85A71;}
.mm-listitem_divider img {max-width: fit-content;} 
.mm-listitem_divider span {padding-right: 5px;}
.link {color:#63a6fa;}

#tab-specification .table > thead > tr > td {padding: 7px 5px;font-size: 16px;}
.adotted_block a.adotted {color: #3881df; border-bottom: 1px dashed; font-weight: bold;}
.well .form-group.required .btn {border: none;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: none;}
ul.product_list_top {list-style: none;padding: 0;margin-bottom: 0;}
ul.product_list_top li {display: inline-block;margin-right: 10px;margin-bottom: 10px;}
ul.product_list_top li span {color: #ff6700;margin-left: 3px;}
ul.product_list_top li a > span:hover {color: #3881df;}
/* span.fa.fa-stack {color: transparent;font-size: 6px;} */
/* .fa-star-o:before {font-size: 13px;} */
.product_list_top2 {display: flex;margin-bottom: 25px;align-items: center;}
.product_list_top2 > div {margin-right: 15px;}
.dotted-line {letter-spacing: 0;background: #efefef99;margin: 5px 5px 0 0;padding: 2px 8px;border-radius: 4px;width: auto;display: inline-block;}
.dotted-line span {padding-left: 3px;font-weight: bold;text-transform: capitalize;}
svg.stock_yes {color: #3fa20c;}
svg.stock_ask {color: #ffa705;}

.pokupka .stock_status {font-size: 12px;}
.product_informationss .stiker_panel {display: inline-block;}

@media (max-width: 506px) {
.product-info .pokupka {width: 100%;}
.form-group.pokupka .list-unstyled {flex: 0 0 100px;}
.product-info #button-cart {margin: 0;width: 100%;}
.product-info .pop_left {flex: 0 0 calc(100% - 125px);}
.product-info .pop_right {width: 100%;}
.product-info .wishlist {float: right;}
}

@media (max-width: 991px) {
.breadcrumb > li {
    
    border-radius: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 16%);
  border: 1px solid #efefef;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    list-style-type: none;
    padding: 6px 12px;
    white-space: nowrap;}
ul.breadcrumb {
    display: flex;
    flex-flow: row nowrap;
    max-height: 50px;
    overflow-x: auto;
    padding-bottom: 10px;
}
.breadcrumb>li+li:before {display: none;}
.breadcrumb > li:not(:last-child) {margin-right: 8px;}
.breadcrumb {border-bottom: none;}
.product_informationss .stiker_panel {position: absolute;top: 0px;z-index: 1;}

}

.product-info input[type="checkbox"] + label .fa {display: inline-flex;align-items: center;user-select: none;vertical-align: text-top;font-size: 14px;}
.product-info input[type="checkbox"] + label .fa::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.2em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.product-info input[type="checkbox"]:checked + label .fa::before {content: "\f00c";}
.product-info input[type="checkbox"]:checked + label .fa {color: #555;}
.product-info input[type="checkbox"]:checked + label span.option_price {color: #333;    font-weight: bold;}
a.col-xs-6.col-sm-4.col-md-3.col-lg-2:hover {box-shadow: 0 5px 9px rgb(136 136 136 / 38%)}

.product-thumb h4 {margin-bottom: 0;}
.product-thumb .description_options {margin-bottom: 0;text-align: left;}
.product-thumb:hover {box-shadow: 0 5px 9px rgb(136 136 136 / 38%)}
.product-layout.col-lg-12 {padding: 0;}
.description_options {font-size: 12px;}
.stiker.stiker_user1 {background: #6bcee7;}
.stiker.stiker_user2 {background: #f8a941;}
.stiker.stiker_user3 {background: #0f851f9e;}
.stiker.stiker_user4{background: #6bcee7;}
.stiker.stiker_user5 {background: blue;}
.stiker_spec {color: #FFFFFF;background-color: #E85A71;}

/* .product-layout .fa-star-o::before {content: none;} */
#menu2 ul.lastul {margin-left: 20px;}
.product-layout h4 > a {color: #222;font-size: 16px;}
.product-layout h4 > a:hover {color: #3881df;}
.well.well-sm .btn-group-justified .btn-default.active{background-color: #fff;border-radius: 5px;box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);pointer-events: none;cursor: default;}
.well.well-sm .btn-group-justified .btn-default{background-color: #f7f7f7;}
.col-lg-3.col-md-4.col-sm-3.hidden-xs {float: right;}
.col-lg-6.col-md-5.col-sm-5 {float: left;width: auto;}
.well.well-sm .btn-group.btn-group-justified, .well.well-sm .col-lg-3.col-md-4.col-sm-3.hidden-xs { width: auto;}
.well.well-sm .input-group .form-control {width: auto;}
.input-group .form-control {z-index: 0;}

/* i.fa-shopping-basket.predzakaz:before {display:none;} */
#banner img, .modal-content {border-radius: 5px;border:none;}
div#banner {margin-bottom: 15px;}
img.img-thumbnail {margin: 0 20px 20px 20px;}
li.main {font-weight: bold;padding: 10px 0;}
.product-thumb .cart {display: contents;}
.modal {top: 20%;}
.modal-dialog {width: 90%;margin: 0 auto; max-width: 800px;}
.modal-header, .modal-body {padding: 15px 25px;}
.child-box.box-col-1 {width: max-content;}
.row.conts a {margin-right: 5px;}
.row.conts a img {margin-right: 0;}
.mm-navbar {border-bottom: none;}
.mm-listitem:after, .mm-listitem__btn:not(.mm-listitem__text) {border-color: #ececec;}
.change_category.input-group-btn{border-radius: 0 4px 4px 0;}
.search .search_button {border-radius: 4px !important;}
span.mm-listitem__text {color: rgba(1,1,1,.4); padding-top: 5%;}
@media (max-width: 480px) {
.image .stiker_panel {left: -5px;top: -10px;}
.product-thumb .wishlist + .cart {margin-right: 0;}
}

@media (min-width: 992px) and (max-width: 1359px) {
.col-md-3 {width: 30%;}
.col-md-9 {width: 70%;}
}

@media (max-width: 991px) {
.col-sm-3 {width: 50%;}
.search .change_category {display:none;}
.breadcrumb h1 {margin: 0;font-size: 12px;}
}
#top3 .list-inline {float: right;}
#top3 .list-inline a {color: #f80;border: 1px solid;display: block;box-shadow: 0 9px 13px rgb(255 136 0 / 43%);}
/* .rating .fa-star, .fa-star + .fa-star-o, .rating svg {color: #FC0;} */
/*  .fa-star + .fa-star-o {color: #ddd;} */
/* .rating .fa-star-o {color: #ddd;} */


.accessories {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#product_accessories .product-layout {
  color: #424242;
  display: flex;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
width:auto;
}
.accessories_title {width: 200px;}
.accessories-thumb {width: 280px;}
#product_accessories .row {margin: 0;}
#product_accessories .product-layout:first-child {padding-left: 0;}
#product_accessories .product-layout {padding-left: 5px;padding-right: 5px;}

@media (min-width: 992px)  {
.accessories:not(:hover)::-webkit-scrollbar {height: 2px;background-color: #fff;}
.accessories:not(:hover) {scrollbar-width: thin; scrollbar-color: #fff #fff;}
.accessories::-webkit-scrollbar {height: 2px;background-color: #fff;}
.accessories {scrollbar-width: thin; scrollbar-color: #adadad #fff;}
.accessories:hover.accessories::-webkit-scrollbar-thumb {border-radius: 10px;background-color: #adadad;height: 3px;}
.accessories:hover.accessories::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);border-radius: 10px;}
.well-sm.product-info {width: fit-content;}
}

button.search-button.btn.btn-default.btn-lg.search_button {position: absolute; top: 12px; right: 12px; height: 20px; width: 20px;}
.well .input-group * {font-size: 12px !important;}
.well select.form-control, .well input.form-control, .well textarea.form-control {background: none; box-shadow: none; color: #0063D1; padding: 0; }
.well .input-group * { padding: 0; }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


.table-silver { margin: auto;  font-size: 1em;  table-layout: auto;  width: 100%;  border-spacing: 0;  border-collapse: collapse;}
.table-silver .small { font-size: 12px;margin: 0px;}
.table-silver > tbody > tr:nth-child(2n+1) { background-color: rgba(0, 99, 209, 0.1);}
.table-silver td, .table-silver th {padding: 8px 10px; border: 1px solid #0063d1;}
.table-silver p {margin: 0;}
