@use 'swiper/scss' as swiper;

.swiper {
  overflow: unset;
  overflow-x: clip;
  &-slide {
    // margin-right: 10px;
    display: flex ;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 100%;
    &-thumb-active {
      padding-bottom: 10px;
      border-bottom: 3px solid var(--color-primary);
    }
  }
}
