@use 'swiper/scss' as swiper;
@use 'swiper/scss/navigation';

:root {
  --swiper-navigation-size: 22px;
  --swiper-navigation-color: var(--text-base);
}

.swiper {
  overflow: unset;
  overflow-x: clip;
  &-slide {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    &-thumb-active {
      padding-bottom: 10px;
      border-bottom: 3px solid var(--color-primary);
    }
  }
}

.swiper-wrapper {
  height: unset;
}




@media (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
