// страница контактов
.contacts-content {
  display: grid;
  width: 100%;
}
.contacts-content .map iframe { width: 100%; }
/* На больших экранах - две колонки по 50% */
@media (min-width: 1000px) {
  .contacts-content {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  .contacts-content .map { order: 1; }
  .contacts-content .contacts { order: 2; }
}

/* На экранах меньше 1000px - одна колонка */
@media (max-width: 999px) {
  .contacts-content {
    grid-template-columns: 1fr;
    gap: 0;
  }
  
  .contacts-content .map { order: 2; }
  .contacts-content .contacts { order: 1; }
}

.phone { background: #e3f2fd; color: #2c3e50; border: 1px solid #bbdefb; }
.telegram { background: #e3f2ff; color: #0088cc; border: 1px solid #bbdefb; }
.email { background: #ffebee; color: #d44638; border: 1px solid #ffcdd2; }
.form { background: #e8f5e9; color: #2e7d32; border: 1px solid #c8e6c9; }

.method-content h3 {
    margin-top: 0;
    color: #2c3e50;
}

#column-left {
    margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}

.toggle-btn:hover {
  text-decoration: underline;
}

.expanded + .toggle-btn::after {
  content: "Свернуть";
}

// toasts
#toast-container {
    --bs-toast-zindex: 1090;
    z-index: 1090;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    pointer-events: none;
    padding: 1rem;
    right: 0;
    top: 0;
    position: fixed;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.toast-icon {
position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 0 0 1rem;
}
.toast-close {
    margin-left: auto;
    margin-right: 1rem;
}


.privacy-policy-confirmation {
    margin-top: 1rem;
    & input[type=checkbox]{
        margin-left: 3px;
        appearance: auto;
        width: auto;
        height: auto;
    }
}

.wishlist-products .btn-cart,
.compare-products .btn-cart {
    padding: 3px 5px;
}

.compare svg, .options svg {
border: 1px solid #adb5bd;
border-radius: 0.25em;
color: transparent;
}

.compare.in-compare svg, .options label:has(input[type='checkbox']:checked) svg {
border: none;
color: #fff;
background: #0063D1;
}
