@use 'variables' as *;

.mb-5 {
  margin-bottom: 3rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  // background: #f8f9fa;
  gap: .5rem;
  // padding: .5rem 1rem;


  & > li > a {
    color: $text-light;
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 8px;
    background: #efefef99;

    &:focus,
    &:hover {
      color: $text-dark;
    }
  }

  &-tabs {
    & li.active > a,
    & li.active > a:focus,
    & li.active > a:hover {
      color: $text-dark;
      cursor: default;
    }
  }
}

// Костыль
.search .dropdown-menu {
  opacity: 1;
  visibility: visible;
  display: none;
}
.search .group-header {
  background-color: #f5f5f580;
  padding: 10px;
  cursor: default;
  color: #b7b7b7;
}

.temporarily-visible {
  opacity: 1 !important;
  visibility: visible !important;
}
