.image .stiker_last {color: #FFFFFF; background-color: #454552;}
.image .stiker_best {color: #FFFFFF; background-color: #4EA1D3;}
.image .stiker_spec {color: #FFFFFF; background-color: #E85A71;}
.image .stiker_netu {color: #000000; background-color: #F7F7F7;}
.image .stiker_user {color: #888888; background-color: #FFFFFF;}
#top7 {background-color: #F7F7F7;}
.rev_slider.rev_blog_mod .heading_h {background-color: #F7F7F7;}
.rev_slider.rev_blog_mod .owl-pagination {background-color: #F7F7F7;}
.rev_slider.rev_blog_mod .vertical-sreview {border: none;}
#top7 {padding: 30px 0 15px 0; margin-bottom: 20px;}
#top4 {background-color: #FFFFFF;}
@media (max-width: 767px) {#top4, #top5 {display: block;margin-bottom: -10px;min-height: initial !important;}}
::selection {background-color: #;}
body,#all_document,header,#top,#top2,.rev_slider .owl-pagination,.rev_slider .heading_h,#product_products .owl-pagination,#product_products h3,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,#top3_links,.vertical-sreview .caption {background-color: #;}
@media (min-width: 768px) {#all_document {width: 750px;margin: 0 auto;box-shadow: 0 0 15px rgba(0,0,0,0.2);}}
@media (min-width: 992px) {#all_document {width: 970px;}}
@media (min-width: 1200px) {#all_document {width: 1170px;}}
@media (min-width: 1360px) {#all_document {width: 1280px;}}
.map-wrapper .contact-info {padding: 0 50px;}
#map-wrapper .contact-info {padding-left: 2% !important;}
.zatemnenie_img {filter: none; opacity: 1;}
.product-grid .product-thumb .description, .rev_slider .product-thumb .description {display: block;}
@media (min-width: 768px) {.tab-content #tab-specification, .tab-specification.rev_slider {-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;-webkit-column-gap: 30px;-moz-column-gap: 30px;column-gap: 30px;-webkit-column-rule: 1px solid #eee;-moz-column-rule: 1px solid #eee;column-rule: 1px solid #eee;}}
@media (min-width: 768px) {.tab-content #tab-specification .table.attrbutes tbody tr td, .tab-specification.rev_slider .table.attrbutes tbody tr td {border: none;}}
.rev_slider .product-thumb .price, .product-grid .product-thumb .price {float: left; margin-bottom: 0;}
.product-layout.new_line .product-thumb .product_buttons .clearfix {display: none;}
@media (min-width: 1200px) {.product-layout.col-lg-3 {width: 20%;}.product-layout.col-lg-4 {width: 25%;}}
.show-on-hover:hover > ul.dropdown-menu.dblock22 {display: block;}
@media (min-width: 992px) and (max-width: 1200px) {.heading_ico_image>img {margin-left: -6px; margin-right: 2px;} #cart button.cart {font-size: 15px;}}
#top2 #cart {border-radius: 2px; margin-top: 10px;}
#top2 #cart button.cart {background-color: transparent; color: #; border: 1px solid #; border-radius: 2px;}
.product-thumb .zakaz {display: none !important;}
.share_icon_callbtn.triggerbtn {background-color: #333333; color: #FFFFFF; box-shadow: 0 0 2px 2px #333333;}
