.image .stiker_last {color: #FFFFFF; background-color: #454552;}
.image .stiker_best {color: #FFFFFF; background-color: #4EA1D3;}
.image .stiker_spec {color: #FFFFFF; background-color: #E85A71;}
.image .stiker_netu {color: #000000; background-color: #F7F7F7;}
.image .stiker_user {color: #888888; background-color: #FFFFFF;}
::selection {background-color: #;}
body,#all_document,header,#top,#top2,.rev_slider .owl-pagination,.rev_slider .heading_h,#product_products .owl-pagination,#product_products h3,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,#top3_links,.vertical-sreview .caption {background-color: #;}
@media (min-width: 768px) {#all_document {width: 750px;margin: 0 auto;box-shadow: 0 0 15px rgba(0,0,0,0.2);}}
@media (min-width: 992px) {#all_document {width: 970px;}}
@media (min-width: 1200px) {#all_document {width: 1170px;}}
@media (min-width: 1360px) {#all_document {width: 1280px;}}
.map-wrapper .contact-info {padding: 0 50px;}
#map-wrapper .contact-info {padding-left: 2% !important;}
.zatemnenie_img {filter: none; opacity: 1;}
.product-grid .product-thumb .description, .rev_slider .product-thumb .description {display: block;}
.show-on-hover:hover > ul.dropdown-menu.dblock22 {display: block;}
@media (min-width: 992px) and (max-width: 1200px) {.heading_ico_image>img {margin-left: -6px; margin-right: 2px;} #cart button.cart {font-size: 15px;}}
#top2 #cart {border-radius: 2px; margin-top: 10px;}
#top2 #cart button.cart {background-color: transparent; color: #; border: 1px solid #; border-radius: 2px;}
.product-thumb .zakaz {display: none !important;}
.share_icon_callbtn.triggerbtn {background-color: #333333; color: #FFFFFF; box-shadow: 0 0 2px 2px #333333;}
